/* Import Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the dark background universally */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Default CRA font stack, Tailwind might override */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force a dark slate background and light text */
  @apply bg-slate-900 text-slate-200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
